services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: snappydb
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - snappy-network
    ports:
      - "5432:5432"

networks:
  snappy-network:
    driver: bridge

volumes:
  postgres-data:
